<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <title>Document</title>
</head>
<body>
    <h1>Crear Bebida</h1>
    <div class="crearItemMenu">
    <form th:action="@{/ItemMenu/createBebida}" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="descripcion">Descripcion:</label>
        <input type="text" id="descripcion" name="descripcion" required><br><br>

        <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio" required><br><br>

        
        <input type="text" id="id_vendedor" name="id_vendedor" th:value="${vendedorid}" hidden>

        <label for="graduacionAlcoholica">Gradiacion Alcoholica:</label>
        <input type="number" id="graduacionAlcoholica" name="graduacionAlcoholica" step="any" required><br><br>

        <label for="tamanio">Tamaño:</label>
        <input type="number" id="tamanio" name="tamanio" step="any" required><br><br>
        
        <label for="peso">Peso:</label>
        <input type="number" id="peso" name="peso" step="any" required><br><br>

        <button type="submit">Guardar</button>
    </form>
</div>
    
</body>
</html>