<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Document</title>
</head>
<body>
    <h1>Crear Plato</h1>
    <form th:action="@{/ItemMenu/createPlato}" method="POST">
        <label for="nombre">Nombre:</label><br>
        <input type="text" id="nombre" name="nombre" required><br><br>

        <label for="descripcion">Descripcion:</label><br>
        <input type="text" id="descripcion" name="descripcion" required><br><br>

        <label for="precio">Precio:</label><br>
        <input type="text" id="precio" name="precio" required><br><br>

        <label for="id_vendedor">ID del Vendedor:</label><br>
        <input type="text" id="id_vendedor" name="id_vendedor" required><br><br>

        <label for="peso">Peso:</label><br>
        <input type="number" id="peso" name="peso" step="any" required><br><br>

        <label for="tamanio">Tamaño:</label><br>
        <input type="number" id="tamanio" name="tamanio" step="any" required><br><br>

        <button type="submit">Guardar</button>
    </form>
    
</body>
</html>