<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pedidos</title>

    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Pedidos</h1>
    <div>
        <form th:action="@{/pedidos/search}" method="GET">
            <label for="search">Busqueda:</label><br>
            <input type="text" id="search" name="search"><br><br>

            <label for="orderBy">Ordenar por:</label><br>
            <select id="orderBy" name="orderBy">
                <option value="id">ID</option>
                <option value="precio">Precio</option>
                <option value="Cantidad">Cantidad</option>
                <option value="estado">Estado</option>
                <option value="cantidad_menor_que">Cantidad menor que</option>
                <option value="cantidad_mayor_que">Cantidad mayor que</option>
                <option value="precio_menor_que">Precio menor que</option>
                <option value="precio_mayor_que">Precio mayor que</option>
            </select><br><br>

            <label for="orderDirection">Dirección:</label><br>
            <select id="orderDirection" name="orderDirection">
                <option value="ASC">Ascendente</option>
                <option value="DESC">Descendente</option>
            </select><br><br>

            <button type="submit">Buscar</button>
        </form>
    </div>

    <table border="1">

        <thead>
            <tr>
                <th>ID</th>
                <th>Estado</th>
                <th>Vendedor ID</th>
                <th>Vendedor Nombre</th>
                <th>Cliente ID</th>
                <th>Cliente Nombre</th>
                <th>Items</th>
                <th>Cantidad Items</th>
                <th>Precio</th>
                <th>Metodo de Pago</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="pedido : ${pedidos}"  >

                <td th:text="${pedido.pedidoid}"></td>
                <td th:text="${pedido.estado}"></td>
                <td th:text="${pedido.vendedor.vendedorid}"></td>
                <td th:text="${pedido.vendedor.nombre}"></td>
                <td th:text="${pedido.cliente.clienteid}"></td>
                <td th:text="${pedido.cliente.nombre}"></td>
                <!-- <td th:text="${pedido.items}"></td> -->
                <td>
                    <table border = 1>
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${pedido.items}">
                                <td th:text="${item.itemMenu.nombre}"></td>
                                <td th:text="${item.cantidad}"></td>
                                <td th:text="${item.precio}"></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td th:text="${pedido.cantidad}"></td>
                <td th:text="${pedido.precio}"></td>
                <td th:text="${pedido.getTipoMetodoDePago}"></td>
            </tr>
        </tbody>
    </table>

</body>
</html>