<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendedores</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Listado de Vendedores</h1>

    <table border = 1>

        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>CX</th>
                <th>CY</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="vendedor : ${vendedores}">

                <td th:text="${vendedor.vendedor_id}"></td>
                <td th:text="${vendedor.nombre}"></td>
                <td th:text="${vendedor.direccion}"></td>
                <td th:text="${vendedor.coordenadas.latitud}"></td>
                <td th:text="${vendedor.coordenadas.longitud}"></td>
            </tr>
        </tbody>
    </table>

// dejo esto pero no funciona ni va a funcionar q sad
    <div>
        <form th:action="@{/obtenerMenuVendedor}" th:object="${id}"method="post"></form>
            <label for="id">ID:</label><br>
            <input type="text" id="id" name="id" required><br><br>
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>



</body>
</html>