<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vendedores</title>
    <link rel="stylesheet" type="text/css" th:href="@{static/styles.css}">
</head>
<body>
    <h1>Listado de Vendedores</h1>
    <div>
        <form th:action="@{/vendedores/search}" method="GET">
            <label for="busqueda">Busqueda:</label><br>
            <input type="text" id="search" name="search"><br><br>
            

            <label for="orderBy">Ordenar por:</label><br>
            <select id="orderBy" name="orderBy">
                <option value="id">ID</option>
                <option value="nombre">Nombre</option>
                <option value="direccion">Direccion</option>
                <option value="latitud">Latitud</option>
                <option value="longitud">Longitud</option>
            </select><br><br>
            
            <label for="orderDirection">Dirección:</label><br>
            <select id="orderDirection" name="orderDirection">
                <option value="ASC">Ascendente</option>
                <option value="DESC">Descendente</option>
            </select><br><br>

            <button type="submit">Buscar</button>
        </form>
    </div>
    <table border = 1>
        
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Direccion</th>
                <th>CX</th>
                <th>CY</th>
            </tr>
        </thead>
        <tbody>

            <tr th:each="vendedor : ${vendedores}">

                <td th:text="${vendedor.vendedor_id}"></td>
                <td th:text="${vendedor.nombre}"></td>
                <td th:text="${vendedor.direccion}"></td>
                <td th:text="${vendedor.coordenadas.latitud}"></td>
                <td th:text="${vendedor.coordenadas.longitud}"></td>
            </tr>
        </tbody>
    </table>




    
    <div>
        <form th:action="@{/ItemMenu/getItemMenuByVendedor{id}(id=${id})}" method="GET">
            <label for="id">ID:</label>
            <input type="text" id="id" th:value="${id}" value ="1" name="id" required><br><br>


            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>

    <div>
        
        
        <form th:action="@{/vendedores/agregar-vendedor}" method="GET">
            <button type="submit">Agregar Vendedor</button>
        </form>

        
        <form th:action="@{/vendedores/modificar}" method="GET">
            <label for="modificarId">ID del Vendedor:</label>
            <input type="text" id="modificarId" name="id" placeholder="Ingrese ID" required>
            <button type="submit">Modificar Vendedor</button>
        </form>

        
        <form th:action="@{/vendedores/eliminar}" method="POST">
            <label for="eliminarId">ID del Vendedor:</label>
            <input type="text" id="eliminarId" name="id" placeholder="Ingrese ID" required>
            <button type="submit" onclick="return confirm('¿Está seguro de que desea eliminar este vendedor?');">Eliminar Vendedor</button>
        </form>
    </div>



</body>
</html>